q {
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f;
}
blockquote{
    font-style: italic;
    color: rgb(150, 150, 150);
}
header, footer{
    background-color: #000;
    width: 100%;
    height: 25px;
}
div{
    background-color: #fff;
    width: 100%;
    height: 200px;
    border: #00f solid 1px;
}
address{
    color: #fff;
}
figure, img{
    height: 80px;
    color: #00f;
    font-style: italic;
    font-size: 20px;
}